body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.counter-button {
  min-width: 35px !important;
  padding: 0 !important;
  max-height: 30px !important;
}

.counter-button.minus {
  font-size: 58px !important;
  padding-bottom: 10px !important;
  margin-right: 20px;
}

.counter-button.plus {
  font-size: 37px !important;
  padding-bottom: 0 !important;
  margin-left: 20px;
}

.counter-number {
  font-size: 90px;
  font-weight: 900;
  color: white;
  margin: 0 20px;
  width: 150px;
  max-width: 150px;
}

.mint-btn {
  width: 150px;
  height: 50px;
  font-size: 25px !important;
  font-weight: bold !important;
}

.counter-btn {
  width: 48px;
  cursor: pointer;
}

.counter-btn:hover {
  transform: scale(0.9);
}

.mint-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background-color: rgba(0,0,0,0.5);
}